<script>
    import { createEventDispatcher } from "svelte";

    export let id;
    export let title;
    export let overview;
    export let cover;
    export let like;

	$: coverURL = `https://image.tmdb.org/t/p/original${cover}`;

    const dispatch = createEventDispatcher();

    function toggleLike(){
        dispatch('onToggleLike', {id, title, overview, cover});
    }

</script>

<div class="card mt-5">
    <img src={coverURL} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{title}</h5>
      <p class="card-text">{overview}</p>
        <div class="text-center">
            <button class={like ? 'btn btn-danger ' : 'btn btn-primary'} on:click={toggleLike}>
                {like ? 'UnLike' : 'Like'}
            </button>
        </div>
    </div>
  </div>

<style>

</style>