<script>
	import { fly } from "svelte/transition";	
	import Item from "./movie/Item.svelte";

	const APIKEY = '7288a68afbe7d9d75f554e6e650b49e2';
	const BASEURL = `https://api.themoviedb.org/3`;	
	const APISETTINGS = `?api_key=${APIKEY}&language=es-mx`;

	const movies = (async () =>{
		const URL = `${BASEURL}/discover/movie${APISETTINGS}&sort_by=popularity.desc`; 
		const response = await fetch(URL)
		return await response.json()
	})();

	let likedMovie = [];

	function toggleLike(event){
		const movie = event.detail;
		console.log(movie);
		let index = likedMovie.findIndex(m => m.id === movie.id);
	
		if(index >= 0){
			likedMovie.splice(index, 1);
		}else{
			likedMovie.push(movie);		
		}
		likedMovie = likedMovie;
	}

	$: like = (id) =>{
		let index = likedMovie.findIndex(m => m.id === id);
		return index >= 0;

	};
</script>

<svelte:head>
	<title>Movies Svelte</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
</svelte:head>

<main >
	<div class="row">
		<div class="col-12 col-md-6 col-lg-8 border panel" >
			<h2>Peliculas Populares</h2>
			<div class="row">
				{#await movies}
					<div class="col-12">
						<p>Cargando peliculas...</p>
					</div>
				{:then data}
					{#each data.results as movie}
						<div in:fly="{{duration: 2000, y: 20}}" class="col-12 col-md-6 col-lg-4 p-2">
							<Item like={like(movie.id)} id={movie.id} title={movie.title} overview={movie.overview} cover={movie.poster_path} on:onToggleLike={toggleLike}/>
						</div>
					{/each}
				{/await}
			</div>
		</div>
		<div class="col-12 col-md-6 col-lg-4 border panel" >
			<h2>Peliculas Favorias</h2>
			<div class="row">
				{#if likedMovie.length }
					{#each likedMovie as movie, i (movie.id)}
						<div in:fly="{{duration: 2000, y: 20}}" out:fly="{{duration: 800, y: -20}}" class="col-12 col-md-6 col-lg-4 p-2">
							<Item like={like(movie.id)} id={movie.id} title={movie.title} overview="" cover={movie.cover} on:onToggleLike={toggleLike}/>
						</div>			
					{/each}
				{:else}
					<div class="col-12">
						<p>
							No hay favoritos agregados
						</p>
					</div>
				{/if}
			</div>
		</div>
	</div>
</main>

<style>
	.panel{
		height: 100vh;
		overflow: auto;
	}

	.border{

	}
</style>
